databases: 
  - name: beyond-book
    databaseName: beyond_shadow
    user: beyond_shadow_user

services:
- type: web
  name: pgbouncer
  runtime: docker
  plan: standard
  envVars:
  - key: DATABASE_URL
    fromDatabase:
      name: beyond_shadow
      property: connectionString
  - key: POOL_MODE
    value: transaction
  - key: SERVER_RESET_QUERY
    value: DISCARD ALL
  - key: MAX_CLIENT_CONN
    value: 500
  - key: DEFAULT_POOL_SIZE
    value: 50